<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.finsight.backend.vo"/>
        <package name="com.finsight.backend.dto"/>
    </typeAliases>
    <typeHandlers>
        <package name="com.finsight.backend.handler"/>
    </typeHandlers>
    <mappers>
        <package name="com.finsight.backend.mapper"/>
    </mappers>
</configuration>
