<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finsight.backend.mapper.DepositMapper">
    <select id="findDepositNameByWord" parameterType="string" resultType="com.finsight.backend.dto.response.SearchSuggestionResponseDTO">
        SELECT product_code AS productCode,
                product_name AS productName,
                'deposit' AS type
        FROM deposit
        WHERE product_name LIKE CONCAT('%', #{word}, '%')
    </select>
</mapper>
