<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finsight.backend.mapper.HoldingsMapper">

    <select id="findByUserAndProduct" resultType="com.finsight.backend.vo.Holdings">
        SELECT * FROM Holdings
        WHERE user_id = #{userId} AND product_code = #{productCode}
    </select>

    <insert id="insert" parameterType="com.finsight.backend.vo.Holdings"
            useGeneratedKeys="true" keyProperty="holdingsId">
        INSERT INTO Holdings (user_id, product_code, product_category,
        holdings_total_price, holdings_total_quantity, holdings_status)
        VALUES (#{userId}, #{productCode}, #{productCategory},
        #{holdingsTotalPrice}, #{holdingsTotalQuantity}, #{holdingsStatus})
    </insert>

    <update id="update" parameterType="com.finsight.backend.vo.Holdings">
        UPDATE Holdings
        SET holdings_total_price = #{holdingsTotalPrice},
        holdings_total_quantity = #{holdingsTotalQuantity},
        holdings_status = #{holdingsStatus}
        WHERE holdings_id = #{holdingsId}
    </update>

    <!-- === 모델포트폴리오 - 나의 자산 구성 ==============================================================-->
    <!--  국내 주식형 (2) -->
    <select id="selectDomesticEquity2ByUserId" parameterType="string" resultType="double">
        SELECT
            CASE
                WHEN total.total_amount = 0 THEN 0
                ELSE ROUND(SUM(CASE
                    WHEN f.product_code IS NOT NULL THEN h.holdings_total_price
                    WHEN e.product_code IS NOT NULL THEN h.holdings_total_price
                    ELSE 0
                END) / total.total_amount * 100, 2)
            END AS DomesticEquity2Price
        FROM Holdings h
        LEFT JOIN Fund f ON h.product_code = f.product_code
            AND f.fund_country = 'domestic'
            AND f.fund_type = 'equity'
            AND f.product_risk_grade = 2
        LEFT JOIN Etf e ON h.product_code = e.product_code
            AND e.etf_country = 'domestic'
            AND e.etf_type = 'equity'
            AND e.product_risk_grade = 2
        JOIN (
            SELECT user_id, SUM(holdings_total_price) AS total_amount
            FROM Holdings
            WHERE user_id = #{userId}
            GROUP BY user_id
        ) total ON h.user_id = total.user_id
        WHERE h.user_id = #{userId}
    </select>
    <!--  국내 채권혼합형 (5) -->
    <select id="selectDomesticMixed5ByUserId" parameterType="string" resultType="double">
        SELECT
        CASE
        WHEN total.total_amount = 0 THEN 0
        ELSE ROUND(SUM(CASE
        WHEN f.product_code IS NOT NULL THEN h.holdings_total_price
        WHEN e.product_code IS NOT NULL THEN h.holdings_total_price
        ELSE 0
        END) / total.total_amount * 100, 2)
        END AS DomesticEquity2Price
        FROM Holdings h
        LEFT JOIN Fund f ON h.product_code = f.product_code
        AND f.fund_country = 'domestic'
        AND f.fund_type = 'mixed'
        AND f.product_risk_grade = 5
        LEFT JOIN Etf e ON h.product_code = e.product_code
        AND e.etf_country = 'domestic'
        AND e.etf_type = 'mixed'
        AND e.product_risk_grade = 5
        JOIN (
        SELECT user_id, SUM(holdings_total_price) AS total_amount
        FROM Holdings
        WHERE user_id = #{userId}
        GROUP BY user_id
        ) total ON h.user_id = total.user_id
        WHERE h.user_id = #{userId}
    </select>
    <!--  국내 채권형 (5) -->
    <select id="selectDomesticBond5ByUserId" parameterType="string" resultType="double">
        SELECT
        CASE
        WHEN total.total_amount = 0 THEN 0
        ELSE ROUND(SUM(CASE
        WHEN f.product_code IS NOT NULL THEN h.holdings_total_price
        WHEN e.product_code IS NOT NULL THEN h.holdings_total_price
        ELSE 0
        END) / total.total_amount * 100, 2)
        END AS DomesticEquity2Price
        FROM Holdings h
        LEFT JOIN Fund f ON h.product_code = f.product_code
        AND f.fund_country = 'domestic'
        AND f.fund_type = 'bond'
        AND f.product_risk_grade = 5
        LEFT JOIN Etf e ON h.product_code = e.product_code
        AND e.etf_country = 'domestic'
        AND e.etf_type = 'bond'
        AND e.product_risk_grade = 5
        JOIN (
        SELECT user_id, SUM(holdings_total_price) AS total_amount
        FROM Holdings
        WHERE user_id = #{userId}
        GROUP BY user_id
        ) total ON h.user_id = total.user_id
        WHERE h.user_id = #{userId}
    </select>
    <!--  국내 채권형 (6) -->
    <select id="selectDomesticBond6ByUserId" parameterType="string" resultType="double">
        SELECT
        CASE
        WHEN total.total_amount = 0 THEN 0
        ELSE ROUND(SUM(CASE
        WHEN f.product_code IS NOT NULL THEN h.holdings_total_price
        WHEN e.product_code IS NOT NULL THEN h.holdings_total_price
        ELSE 0
        END) / total.total_amount * 100, 2)
        END AS DomesticEquity2Price
        FROM Holdings h
        LEFT JOIN Fund f ON h.product_code = f.product_code
        AND f.fund_country = 'domestic'
        AND f.fund_type = 'bond'
        AND f.product_risk_grade = 6
        LEFT JOIN Etf e ON h.product_code = e.product_code
        AND e.etf_country = 'domestic'
        AND e.etf_type = 'bond'
        AND e.product_risk_grade = 6
        JOIN (
        SELECT user_id, SUM(holdings_total_price) AS total_amount
        FROM Holdings
        WHERE user_id = #{userId}
        GROUP BY user_id
        ) total ON h.user_id = total.user_id
        WHERE h.user_id = #{userId}
    </select>
    <!--  현금성(예금 등) -->
    <select id="selectDepositPriceByUserId" parameterType="string">
        SELECT
            CASE
                WHEN his.history_amount = 0 THEN 0
                ELSE (h.holdings_total_price / his.history_amount) * 100
            END AS depositPrice
        FROM Holdings AS h
            INNER JOIN History as his ON h.holdings_id = his.holdings_id
        WHERE (user_id = #{userId}) AND (h.product_category = 'deposit')
    </select>
    <!--  해외 주식형 (1) -->
    <select id="selectForeignEquity1ByUserId" parameterType="string" resultType="double">
        SELECT
        CASE
        WHEN total.total_amount = 0 THEN 0
        ELSE ROUND(SUM(CASE
        WHEN f.product_code IS NOT NULL THEN h.holdings_total_price
        WHEN e.product_code IS NOT NULL THEN h.holdings_total_price
        ELSE 0
        END) / total.total_amount * 100, 2)
        END AS DomesticEquity2Price
        FROM Holdings h
        LEFT JOIN Fund f ON h.product_code = f.product_code
        AND f.fund_country = 'foreign'
        AND f.fund_type = 'equity'
        AND f.product_risk_grade = 1
        LEFT JOIN Etf e ON h.product_code = e.product_code
        AND e.etf_country = 'foreign'
        AND e.etf_type = 'equity'
        AND e.product_risk_grade = 1
        JOIN (
        SELECT user_id, SUM(holdings_total_price) AS total_amount
        FROM Holdings
        WHERE user_id = #{userId}
        GROUP BY user_id
        ) total ON h.user_id = total.user_id
        WHERE h.user_id = #{userId}
    </select>
    <!--  해외 주식형 (2) -->
    <select id="selectForeignEquity2ByUserId" parameterType="string" resultType="double">
        SELECT
        CASE
        WHEN total.total_amount = 0 THEN 0
        ELSE ROUND(SUM(CASE
        WHEN f.product_code IS NOT NULL THEN h.holdings_total_price
        WHEN e.product_code IS NOT NULL THEN h.holdings_total_price
        ELSE 0
        END) / total.total_amount * 100, 2)
        END AS DomesticEquity2Price
        FROM Holdings h
        LEFT JOIN Fund f ON h.product_code = f.product_code
        AND f.fund_country = 'foreign'
        AND f.fund_type = 'equity'
        AND f.product_risk_grade = 2
        LEFT JOIN Etf e ON h.product_code = e.product_code
        AND e.etf_country = 'foreign'
        AND e.etf_type = 'equity'
        AND e.product_risk_grade = 2
        JOIN (
        SELECT user_id, SUM(holdings_total_price) AS total_amount
        FROM Holdings
        WHERE user_id = #{userId}
        GROUP BY user_id
        ) total ON h.user_id = total.user_id
        WHERE h.user_id = #{userId}
    </select>
    <!--  해외 주식형 (3) -->
    <select id="selectForeignEquity3ByUserId" parameterType="string" resultType="double">
        SELECT
        CASE
        WHEN total.total_amount = 0 THEN 0
        ELSE ROUND(SUM(CASE
        WHEN f.product_code IS NOT NULL THEN h.holdings_total_price
        WHEN e.product_code IS NOT NULL THEN h.holdings_total_price
        ELSE 0
        END) / total.total_amount * 100, 2)
        END AS DomesticEquity2Price
        FROM Holdings h
        LEFT JOIN Fund f ON h.product_code = f.product_code
        AND f.fund_country = 'foreign'
        AND f.fund_type = 'equity'
        AND f.product_risk_grade = 3
        LEFT JOIN Etf e ON h.product_code = e.product_code
        AND e.etf_country = 'foreign'
        AND e.etf_type = 'equity'
        AND e.product_risk_grade = 3
        JOIN (
        SELECT user_id, SUM(holdings_total_price) AS total_amount
        FROM Holdings
        WHERE user_id = #{userId}
        GROUP BY user_id
        ) total ON h.user_id = total.user_id
        WHERE h.user_id = #{userId}
    </select>
    <!--  해외 채권형 (4) -->
    <select id="selectForeignBond4ByUserId" parameterType="string" resultType="double">
        SELECT
        CASE
        WHEN total.total_amount = 0 THEN 0
        ELSE ROUND(SUM(CASE
        WHEN f.product_code IS NOT NULL THEN h.holdings_total_price
        WHEN e.product_code IS NOT NULL THEN h.holdings_total_price
        ELSE 0
        END) / total.total_amount * 100, 2)
        END AS DomesticEquity2Price
        FROM Holdings h
        LEFT JOIN Fund f ON h.product_code = f.product_code
        AND f.fund_country = 'foreign'
        AND f.fund_type = 'bond'
        AND f.product_risk_grade = 4
        LEFT JOIN Etf e ON h.product_code = e.product_code
        AND e.etf_country = 'foreign'
        AND e.etf_type = 'bond'
        AND e.product_risk_grade = 4
        JOIN (
        SELECT user_id, SUM(holdings_total_price) AS total_amount
        FROM Holdings
        WHERE user_id = #{userId}
        GROUP BY user_id
        ) total ON h.user_id = total.user_id
        WHERE h.user_id = #{userId}
    </select>
</mapper>