<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finsight.backend.mapper.HoldingsMapper">

    <select id="findByUserAndProduct" resultType="com.finsight.backend.vo.Holdings">
        SELECT * FROM Holdings
        WHERE user_id = #{userId} AND product_code = #{productCode}
    </select>

    <insert id="insert" parameterType="com.finsight.backend.vo.Holdings"
            useGeneratedKeys="true" keyProperty="holdingsId">
        INSERT INTO Holdings (user_id, product_code, product_category,
        holdings_total_price, holdings_total_quantity, holdings_status)
        VALUES (#{userId}, #{productCode}, #{productCategory},
        #{holdingsTotalPrice}, #{holdingsTotalQuantity}, #{holdingsStatus})
    </insert>

    <update id="update" parameterType="com.finsight.backend.vo.Holdings">
        UPDATE Holdings
        SET holdings_total_price = #{holdingsTotalPrice},
        holdings_total_quantity = #{holdingsTotalQuantity},
        holdings_status = #{holdingsStatus}
        WHERE holdings_id = #{holdingsId}
    </update>

    <select id="selectDepositPriceByUserId" parameterType="string">
        SELECT holdings_total_price
        FROM Holdings
        WHERE (user_id = #{userId}) AND (product_category = 'deposit')
    </select>
</mapper>