<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finsight.backend.mapper.ProductCategoryMapper">

    <select id="findProductCategory" resultType="string">
        SELECT category FROM (
        SELECT 'fund' AS category FROM fund WHERE product_code = #{productCode}
        UNION
        SELECT 'etf' FROM etf WHERE product_code = #{productCode}
        UNION
        SELECT 'deposit' FROM deposit WHERE product_code = #{productCode}
        ) AS combined
        LIMIT 1
    </select>

</mapper>
